<!-- MENU START -->
<div class="header-menu__desktop col-lg-8">
    <div class="header-menu__wraps">
        <div class="header-menu__inner">
            <!-- HOME ITEM -->
            <div class="header-menu__inner-item active">
                <a href="index.html">HOME &nbsp;
                    <i class="far fa-plus"></i>
                    <i class="far fa-minus"></i>
                </a>
            </div>
            <!-- ABOUT ITEM -->
            <div class="header-menu__inner-item">
                <a href="#">ABOUT
                    &nbsp; <i class="far
                            fa-plus"></i>
                    <i class="far fa-minus"></i>
                </a>
                <ul class="header-menu__drop-down">
                    <li>
                        <a href="about-one.html">
                            About One </a>
                    </li>
                    <li>
                        <a href="about-two.html">
                            About Two </a>
                    </li>
                </ul>
            </div>
            <!-- COURSE ITEM -->
            <div class="header-menu__inner-item">
                <a href="#">COURSE
                    &nbsp; <i class="far
                            fa-plus"></i>
                    <i class="far fa-minus"></i>
                </a>
                <ul class="header-menu__drop-down">
                    <li>
                        <a href="course-one.html">
                            Course One </a>
                    </li>
                    <li>
                        <a href="course-two.html">
                            Course Two </a>
                    </li>
                    <li>
                        <a href="course-three.html">
                            Course Three </a>
                    </li>
                    <li>
                        <a href="course-four.html">
                            Course Four </a>
                    </li>
                    <li>
                        <a href="course-five.html">
                            Course Five </a>
                    </li>
                    <li>
                        <a href="course-six.html">
                            Course Six </a>
                    </li>
                    <li>
                        <a href="course-single.html">
                            Course Single </a>
                    </li>
                </ul>
            </div>
            <!-- PAGES ITEM -->
            <div class="header-menu__inner-item">
                <a href="pages.html">PAGES
                    &nbsp; <i class="far
                            fa-plus"></i>
                    <i class="far fa-minus"></i>
                </a>
                <ul class="header-menu__drop-down">
                        <li class="drop-down__more">
                        <a href="#">
                            Teams 
                        </a>
                        <ul>
                            <li>
                                <a href="team-one.html">
                                    Team One
                                </a>
                            </li>
                            <li>
                                <a href="team-two.html">
                                    Team Two
                                </a>
                            </li>
                            <li>
                                <a href="team-single.html">
                                    Team Single
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="drop-down__more">
                        <a href="#">
                            Event 
                        </a>
                        <ul>
                            <li>
                                <a href="event-one.html">
                                    Event One
                                </a>
                            </li>
                            <li>
                                <a href="event-two.html">
                                    Event Two
                                </a>
                            </li>
                            <li>
                                <a href="event-three.html">
                                    Event Three
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="drop-down__more">
                        <a href="#">
                            Gallery 
                        </a>
                        <ul>
                            <li>
                                <a href="gallery-one.html">
                                    Gallery One
                                </a>
                            </li>
                            <li>
                                <a href="gallery-two.html">
                                    Gallery Two
                                </a>
                            </li>
                            <li>
                                <a href="gallery-three.html">
                                    Gallery Three
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="drop-down__more">
                        <a href="#">
                            Shop 
                        </a>
                        <ul>
                            <li>
                                <a href="shop.html">
                                    Shop
                                </a>
                            </li>
                            <li>
                                <a href="shop-single.html">
                                    Shop Single
                                </a>
                            </li>
                            <li>
                                <a href="shop-cart.html">
                                    Cart
                                </a>
                            </li>
                            <li>
                                <a href="checkout.html">
                                    Check Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="drop-down__more">
                        <a href="#">
                            Other 
                        </a>
                        <ul>
                            <li>
                                <a href="faq.html">
                                    FAQ
                                </a>
                            </li>
                            <li>
                                <a href="404.html">
                                    404 Not Fount
                                </a>
                            </li>
                            <li>
                                <a href="login.html">
                                    Login
                                </a>
                            </li>
                            <li>
                                <a href="register.html">
                                    Register
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- MENU ITEM -->
            <div class="header-menu__inner-item">
                <a href="blogs.html">BLOG &nbsp;
                    <i class="far fa-plus"></i>
                    <i class="far fa-minus"></i>
                </a>
                <ul class="header-menu__drop-down">
                    <li>
                        <a href="blog.html">
                            Blog  </a>
                    </li>
                    <li class="drop-down__more">
                        <a href="#">
                            Blog SideBar 
                        </a>
                        <ul>
                            <li>
                                <a href="blog-left-sidebar.html">
                                    Blog Left Sidebar
                                </a>
                            </li>
                            <li>
                                <a href="blog-right-sidebar.html">
                                    Blog Right Sidebar
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="drop-down__more">
                        <a href="#">
                            Single Post 
                        </a>
                        <ul>
                            <li>
                                <a href="blog-single-fullwidth.html">
                                    Blog Single Full Witdh
                                </a>
                            </li>
                            <li>
                                <a href="blog-single-left-sidebar.html">
                                    Blog Single Left Sidebar
                                </a>
                            </li>
                            <li>
                                <a href="blog-single-right-sidebar.html">
                                    Blog Single Right Sidebar
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- CONTACT ITEM -->
            <div class="header-menu__inner-item">
                <a href="contact.html">CONTACT
                    &nbsp; <i class="far
                            fa-plus"></i>
                    <i class="far fa-minus"></i>
                </a>
                <ul class="header-menu__drop-down">
                    <li>
                        <a href="contact-one.html">
                            Contact One </a>
                    </li>
                    <li>
                        <a href="contact-two.html">
                            Contact Two </a>
                    </li>
                    <li>
                        <a href="contact-three.html">
                            Contact Three </a>
                    </li>
                    <li>
                        <a href="contact-four.html">
                            Contact Four </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- MENU END -->


<!-- HEADER MENU START -->
<div class="header-menu">
<div class="container">
    <div class="row">
        <!-- LOGO -->
        <div class="logo col-sm-6 col-md-6 col-lg-6 col-xl-2">
            <div class="header-menu__logo-wraps">
                <div class="header-menu__logo-inner">
                    <a href="index.html">
                        <img class="logo-light" src="assets/images/logo/dark-logo.png" />
                        <img class="logo-dark" src="assets/images/logo/lite-logo.png" />
                    </a>
                </div>
            </div>
        </div>
        <!-- MENU -->
        <div class="header-menu__desktop col-lg-8">
            <div class="header-menu__wraps">
                <div class="header-menu__inner">
                    <!-- HOME ITEM -->
                    <div class="header-menu__inner-item active">
                        <a href="index.html">HOME &nbsp;
                            <i class="far fa-plus"></i>
                            <i class="far fa-minus"></i>
                        </a>
                    </div>
                    <!-- ABOUT ITEM -->
                    <div class="header-menu__inner-item">
                        <a href="#">ABOUT
                            &nbsp; <i class="far
                                    fa-plus"></i>
                            <i class="far fa-minus"></i>
                        </a>
                        <ul class="header-menu__drop-down">
                            <li>
                                <a href="about-one.html">
                                    About One </a>
                            </li>
                            <li>
                                <a href="about-two.html">
                                    About Two </a>
                            </li>
                        </ul>
                    </div>
                    <!-- COURSE ITEM -->
                    <div class="header-menu__inner-item">
                        <a href="#">COURSE
                            &nbsp; <i class="far
                                    fa-plus"></i>
                            <i class="far fa-minus"></i>
                        </a>
                        <ul class="header-menu__drop-down">
                            <li>
                                <a href="course-one.html">
                                    Course One </a>
                            </li>
                            <li>
                                <a href="course-two.html">
                                    Course Two </a>
                            </li>
                            <li>
                                <a href="course-three.html">
                                    Course Three </a>
                            </li>
                            <li>
                                <a href="course-four.html">
                                    Course Four </a>
                            </li>
                            <li>
                                <a href="course-five.html">
                                    Course Five </a>
                            </li>
                            <li>
                                <a href="course-six.html">
                                    Course Six </a>
                            </li>
                            <li>
                                <a href="course-single.html">
                                    Course Single </a>
                            </li>
                        </ul>
                    </div>
                    <!-- PAGES ITEM -->
                    <div class="header-menu__inner-item">
                        <a href="pages.html">PAGES
                            &nbsp; <i class="far
                                    fa-plus"></i>
                            <i class="far fa-minus"></i>
                        </a>
                        <ul class="header-menu__drop-down">
                                <li class="drop-down__more">
                                <a href="#">
                                    Teams 
                                </a>
                                <ul>
                                    <li>
                                        <a href="team-one.html">
                                            Team One
                                        </a>
                                    </li>
                                    <li>
                                        <a href="team-two.html">
                                            Team Two
                                        </a>
                                    </li>
                                    <li>
                                        <a href="team-single.html">
                                            Team Single
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop-down__more">
                                <a href="#">
                                    Event 
                                </a>
                                <ul>
                                    <li>
                                        <a href="event-one.html">
                                            Event One
                                        </a>
                                    </li>
                                    <li>
                                        <a href="event-two.html">
                                            Event Two
                                        </a>
                                    </li>
                                    <li>
                                        <a href="event-three.html">
                                            Event Three
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop-down__more">
                                <a href="#">
                                    Gallery 
                                </a>
                                <ul>
                                    <li>
                                        <a href="gallery-one.html">
                                            Gallery One
                                        </a>
                                    </li>
                                    <li>
                                        <a href="gallery-two.html">
                                            Gallery Two
                                        </a>
                                    </li>
                                    <li>
                                        <a href="gallery-three.html">
                                            Gallery Three
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop-down__more">
                                <a href="#">
                                    Shop 
                                </a>
                                <ul>
                                    <li>
                                        <a href="shop.html">
                                            Shop
                                        </a>
                                    </li>
                                    <li>
                                        <a href="shop-single.html">
                                            Shop Single
                                        </a>
                                    </li>
                                    <li>
                                        <a href="shop-cart.html">
                                            Cart
                                        </a>
                                    </li>
                                    <li>
                                        <a href="checkout.html">
                                            Check Out
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop-down__more">
                                <a href="#">
                                    Other 
                                </a>
                                <ul>
                                    <li>
                                        <a href="faq.html">
                                            FAQ
                                        </a>
                                    </li>
                                    <li>
                                        <a href="404.html">
                                            404 Not Fount
                                        </a>
                                    </li>
                                    <li>
                                        <a href="login.html">
                                            Login
                                        </a>
                                    </li>
                                    <li>
                                        <a href="register.html">
                                            Register
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- MENU ITEM -->
                    <div class="header-menu__inner-item">
                        <a href="blogs.html">BLOG &nbsp;
                            <i class="far fa-plus"></i>
                            <i class="far fa-minus"></i>
                        </a>
                        <ul class="header-menu__drop-down">
                            <li>
                                <a href="blog.html">
                                    Blog  </a>
                            </li>
                            <li class="drop-down__more">
                                <a href="#">
                                    Blog SideBar 
                                </a>
                                <ul>
                                    <li>
                                        <a href="blog-left-sidebar.html">
                                            Blog Left Sidebar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="blog-right-sidebar.html">
                                            Blog Right Sidebar
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop-down__more">
                                <a href="#">
                                    Single Post 
                                </a>
                                <ul>
                                    <li>
                                        <a href="blog-single-fullwidth.html">
                                            Blog Single Full Witdh
                                        </a>
                                    </li>
                                    <li>
                                        <a href="blog-single-left-sidebar.html">
                                            Blog Single Left Sidebar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="blog-single-right-sidebar.html">
                                            Blog Single Right Sidebar
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- CONTACT ITEM -->
                    <div class="header-menu__inner-item">
                        <a href="contact.html">CONTACT
                            &nbsp; <i class="far
                                    fa-plus"></i>
                            <i class="far fa-minus"></i>
                        </a>
                        <ul class="header-menu__drop-down">
                            <li>
                                <a href="contact-one.html">
                                    Contact One </a>
                            </li>
                            <li>
                                <a href="contact-two.html">
                                    Contact Two </a>
                            </li>
                            <li>
                                <a href="contact-three.html">
                                    Contact Three </a>
                            </li>
                            <li>
                                <a href="contact-four.html">
                                    Contact Four </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- EXTEND BUTTON -->
        <div class="extend-button col-sm-6 col-md-6 col-lg-6 col-xl-2">
            <div class="main-slide__extend-wraps">
                <!-- EXTEND BUTTON ON PC DISPLAY -->
                <div class="main-slide__extend-inner">
                    <!-- BUTTON SEARCH -->
                    <div class="main-slide__extend-item">
                        <i id="search" class="far fa-search extend-btn"></i>
                    </div>
                    <!-- BUTTON SHOPPING BAGS -->
                    <div class="main-slide__extend-item">
                        <a href="shop-cart.html" class="main-slide__extend-container">
                            <i id="shop-cart" class="fal fa-shopping-bag extend-btn"></i>
                        </a>
                        <!-- SHOPPING CART -->
                        <div class="main-slide__cart">
                            <div class="main-slide__cart-wraps">
                                <!-- CART LIST -->
                                <ul class="main-slide__cart-list">
                                    <!-- PRODUCT -->
                                    <li class="main-slide__cart-item">
                                        <div class="main-slide__cart-item-inner">
                                            <!-- DROP BTN -->
                                            <div
                                                class="cart-item__container cart-item__container--btn">
                                                <div class="cart-item__drop">
                                                    <i class="fal fa-times"></i>
                                                </div>
                                            </div>
                                            <!-- CONTENT -->
                                            <div class="cart-item__container">
                                                <div class="cart-item__content">
                                                    <a href="#" class="cart-item__content-name"
                                                        id="cart-item-name">
                                                        Law Book
                                                    </a>
                                                    <p class="cart-item__content-desc">
                                                        <span id="cart-item-count"> 1 </span> x
                                                        $<span id="cart-item-price"> 30.000</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- IMAGE -->
                                            <div
                                                class="cart-item__container cart-item__container--btn">
                                                <img src="assets/images/product/1.jpg">
                                            </div>
                                        </div>
                                    </li>
                                    <!-- PRODUCT -->
                                    <li class="main-slide__cart-item">
                                        <div class="main-slide__cart-item-inner">
                                            <!-- DROP BTN -->
                                            <div
                                                class="cart-item__container cart-item__container--btn">
                                                <div class="cart-item__drop">
                                                    <i class="fal fa-times"></i>
                                                </div>
                                            </div>
                                            <!-- CONTENT -->
                                            <div class="cart-item__container">
                                                <div class="cart-item__content">
                                                    <a href="#" class="cart-item__content-name"
                                                        id="cart-item-name">
                                                        Spirit Level
                                                    </a>
                                                    <p class="cart-item__content-desc">
                                                        <span id="cart-item-count"> 1 </span> x
                                                        $<span id="cart-item-price"> 30.000</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- IMAGE -->
                                            <div
                                                class="cart-item__container cart-item__container--btn">
                                                <img src="assets/images/product/2.jpg">
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                                <!-- CART TOTAL PRICE -->
                                <div class="main-slide__cart-total">
                                    <div class="cart-total__content">
                                        <span>Subtotal: $</span><span
                                            id="subtotal-price">85.000</span>
                                    </div>
                                </div>
                                <!-- BUTTONS -->
                                <div class="main-slide__cart-btn">
                                    <div class="cart-btn__inner">
                                        <a href="shop-cart.html" type="button"
                                            class="btn btn btn-edu btn-edu--light">
                                            View Cart
                                        </a>
                                        <a href="checkout.html" type="button"
                                            class="btn btn-edu btn-edu--light">
                                            CheckOut
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- BUTTON ACCOUNT -->
                    <div class="main-slide__extend-item">
                        <div class="main-slide__extend-container">
                            <i id="account" class="fal fa-user extend-btn"></i>
                        </div>
                    </div>
                    <!-- BUTTON MENU BAR -->
                    <div class="main-slide__extend-item">
                        <i id="menu-bar" class="fal fa-bars extend-btn"></i>
                    </div>
                </div>
                <!-- EXTEND BUTTON ON SMALL DISPLAY -->
                <div class="main-slide__extend-small">
                    <div class="main-slide__small-inner">
                        <i id="open-header-menu" class="far fa-bars"></i>
                    </div>
                </div>
            </div>

        </div>
        <!-- HEADER ON SMALL DISPLAY -->
        <div class="header-menu__small-display">
            <div class="header-menu__small-inner">
                <div class="accordion" id="accordionMenu">
                    <!-- HOME ITEM -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#home" aria-expanded="false" aria-controls="home">
                                Home
                            </div>
                        </h2>   
                    </div>
                    <!-- ABOUT ITEM -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#about" aria-expanded="false" aria-controls="about">
                                About
                            </div>
                        </h2>
                        <div id="about" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionMenu">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    <a href="about-1.html">
                                        AboutOne
                                    </a>
                                </li>
                                <li>
                                    <a href="about-2.html">
                                        AboutTwo
                                    </a>
                                </li>
                            </ul>
                        </div>
                        </div>
                    </div>
                    <!-- COURSES ITEM -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#courses" aria-expanded="false" aria-controls="courses">
                                Courses
                            </div>
                        </h2>
                        <div id="courses" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionMenu">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    <a href="course-one.html">
                                        Course One
                                    </a>
                                </li>
                                <li>
                                    <a href="course-two.html">
                                        Course Two
                                    </a>
                                </li>
                                <li>
                                    <a href="course-three.html">
                                        Course Three
                                    </a>
                                </li>
                                <li>
                                    <a href="course-four.html">
                                        Course Four
                                    </a>
                                </li>
                                <li>
                                    <a href="course-five.html">
                                        Course Five
                                    </a>
                                </li>
                                <li>
                                    <a href="course-six.html">
                                        Course Six
                                    </a>
                                </li>

                                
                            </ul>
                        </div>
                        </div>
                    </div>
                    <!-- PAGES ITEM -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#page" aria-expanded="false" aria-controls="page">
                                Pages
                            </div>
                        </h2>
                        <div id="page" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionMenu">
                        <div class="accordion-body">
                            <ul>
                                <li class="accordion_small">
                                    <div class="accordion" id="smallAccordion">
                                        <!-- TEAM -->
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#team" aria-expanded="false" aria-controls="team">
                                                Team
                                            </button>
                                            </h2>
                                            <div id="team" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#smallAccordion">
                                            <div class="accordion-body">
                                                <a href="team-one.html">
                                                    Team One
                                                </a>
                                                <a href="team-two.html">
                                                    Team Two
                                                </a>
                                                <a href="team-single.html">
                                                    Team Single
                                                </a>
                                            </div>
                                            </div>
                                        </div>
                                        <!-- EVENT -->
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#event" aria-expanded="false" aria-controls="event">
                                                Event
                                            </button>
                                            </h2>
                                            <div id="event" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#smallAccordion">
                                            <div class="accordion-body">
                                                <a href="event-one.html">
                                                    Event One
                                                </a>
                                                <a href="event-two.html">
                                                    Event Two
                                                </a>
                                                <a href="event-three.html">
                                                    Event Three
                                                </a>
                                            </div>
                                            </div>
                                        </div>
                                        <!-- GALLERY -->
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#gallery" aria-expanded="false" aria-controls="gallery">
                                                Gallery
                                            </button>
                                            </h2>
                                            <div id="gallery" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#smallAccordion">
                                            <div class="accordion-body">
                                                <a href="gallery-one.html">
                                                    Gallery One
                                                </a>
                                                <a href="gallery-two.html">
                                                    Galley Two
                                                </a>
                                                <a href="gallery-three.html">
                                                    Galley Three
                                                </a>
                                                
                                            </div>
                                            </div>
                                        </div>
                                        <!--   SHOP -->
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#shop" aria-expanded="false" aria-controls="shop">
                                                Shop
                                            </button>
                                            </h2>
                                            <div id="shop" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#smallAccordion">
                                            <div class="accordion-body">
                                                <a href="shop.html">
                                                    Shop
                                                </a>
                                                <a href="shop-single.html">
                                                    Shop Single
                                                </a>
                                                <a href="shop-cart.html">
                                                    Cart
                                                </a>
                                                <a href="checkout.html">
                                                    Check Out
                                                </a>
                                            </div>
                                            </div>
                                        </div>
                                        <!--  OTHER -->
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#other" aria-expanded="false" aria-controls="other">
                                                Others
                                            </button>
                                            </h2>
                                            <div id="other" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#smallAccordion">
                                            <div class="accordion-body">
                                                <a href="faq.html">
                                                    FAQ
                                                </a>
                                                <a href="404.html">
                                                    404 
                                                </a>
                                                <a href="login.html">
                                                    Login
                                                </a>
                                                <a href="register.html">
                                                    Register
                                                </a>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>   
                            </ul>
                        </div>
                        </div>
                    </div>
                    <!-- BLOGS ITEM -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#blog" aria-expanded="false" aria-controls="blog">
                                Blog
                            </div>
                        </h2>
                        <div id="blog" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionMenu">
                        <div class="accordion-body">
                            <ul>
                                <li class="accordion_small">
                                        <div class="accordion" id="blogAccordion">
                                        <!-- BLOG  -->
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#team" aria-expanded="false" aria-controls="">
                                                Blog
                                            </button>
                                            </h2>
                                        </div> 
                                        <!-- BLOG SIDEBAR -->
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#blog-sidebar" aria-expanded="false" aria-controls="blog-sidebar">
                                                Blog Sidebar
                                            </button>
                                            </h2>
                                            <div id="blog-sidebar" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#blogAccordion">
                                            <div class="accordion-body">
                                                <a href="blog-left-sidebar.html">
                                                    Blog Left Sidebar
                                                </a>
                                                <a href="blog-right-sidebar.html">
                                                    Blog Right Sidebar
                                                </a>
                                            </div>
                                            </div>
                                        </div>
                                        <!-- BLOG SINGLE -->
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#blog-single" aria-expanded="false" aria-controls="blog-single">
                                                Blog Single
                                            </button>
                                            </h2>
                                            <div id="blog-single" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#blogAccordion">
                                            <div class="accordion-body">
                                                <a href="blog-single-left-sidebar.html">
                                                    Blog Single Left Sidebar
                                                </a>
                                                <a href="blog-single-right-sidebar.html">
                                                    Blog Single Right Sidebar
                                                </a>
                                            </div>
                                            </div>
                                        </div>       
                                    </div>
                                </li>    
                            </ul>
                        </div>
                        </div>
                    </div>
                        <!-- CONTACT ITEM -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#contact" aria-expanded="false" aria-controls="contact">
                                Contact
                            </div>
                        </h2>
                        <div id="contact" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionMenu">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    <a href="contact-1.html">
                                        ContactOne
                                    </a>
                                </li>
                                <li>
                                    <a href="contact-2.html">
                                        ContactTwo
                                    </a>
                                </li>
                                <li>
                                    <a href="contact-3.html">
                                        ContactThree
                                    </a>
                                </li>
                                <li>
                                    <a href="contact-4.html">
                                        ContactFour
                                    </a>
                                </li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
        </div>
        
        </div>
    </div>
</div>
</div>
<!-- HEADER MENU END -->