html,
body {
    font-size: 62.5%;
    color: #505050;
    font-family: "Rubik", sans-serif;
    vertical-align: baseline;
    line-height: 26px;
    font-weight: 400;
    overflow-x: hidden;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}
*,
::after,
::before {
    box-sizing: border-box;
}
body {
    display: block;
    /* margin: 8px; */
}
