@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1270px;
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .rs-header .menu-area.menu-sticky {
        transition: all 0.3s ease 0s;
    }
}
