@charset "UTF-8";
/* Mixin */
/* Set các giá trị với màn hình tương ứng */
.under-line {
  display: block;
  border: 0;
  width: 50px;
  height: 2px;
  background: #fd5420;
  z-index: 1;
  margin-left: 0;
  bottom: 0;
  left: 0;
}

.no-padding {
  padding: 0;
}

.btn-edu {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 5px;
  margin: 2px;
  transition: 0.6s;
}

.btn-edu--primary {
  padding: 10px 20px;
  color: #fff;
  font-weight: 600;
  background-color: #fd5420;
}
.btn-edu--primary:hover {
  background-color: #171f32;
  color: #fff;
}

.btn-edu--primary2 {
  padding: 12px 35px;
  color: #fff;
  font-weight: 600;
  background-color: #fd5420;
}
.btn-edu--primary2:hover {
  background-color: #fff;
  color: #1f283a;
}

.btn-edu--primary3 {
  padding: 17px 40px;
  color: #fff;
  font-weight: 600;
  background-color: #fd5420;
  transition: 0.3s;
}
.btn-edu--primary3:hover {
  opacity: 0.8;
  color: #fff;
}

.btn-edu--light {
  padding: 5px 10px;
  background-color: #fff;
}

.scroll-top-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  height: 40px;
  font-size: 24px;
  font-weight: 600;
  width: 42px;
  color: #fff;
  line-height: 36px;
  transition: all 0.3s ease;
  margin-left: 2px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  background-color: #fd5420;
  display: flex;
  transition: 0.6s;
  visibility: hidden;
}
.scroll-top-btn i {
  margin: auto;
}
.scroll-top-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.scroll-top-btn.active {
  visibility: visible;
}

.main-slide__btn {
  width: 42px;
  height: 42px;
  background-color: #fd5420;
  border-radius: 50%;
  display: flex;
}
.main-slide__btn i {
  margin: auto;
  font-size: 2rem;
}

/* LOADER */
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes search-form {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 0.8;
  }
}
.loader {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  margin-top: 0px;
  top: 0 px;
  z-index: 9999999;
}
.loader .loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  border: 5px solid #ebebec;
  border-radius: 50%;
}
.loader .loader-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
}
.loader .loader-icon img {
  animation: loader alternate 900ms infinite;
}

img {
  max-width: 100%;
  height: auto;
}

.main-content {
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}
.main-content .main__slide-home {
  position: relative;
  top: 0;
  max-width: 1903px;
  width: 100%;
  min-height: 975px;
  height: auto;
}
.main-content .main__slide-home .main__slide-item {
  width: 100%;
  height: 100%;
  background-position: left !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.main-content .main__slide-home .main__slide-item .container {
  width: auto;
  height: 100%;
}
.main-content .main__slide-home .main__slide-item .container .row {
  width: 100%;
  height: 100%;
}
.main-content .main__slide-home .main__slide-item .container .row .main__slide-item-wraps {
  width: 100%;
  height: 100%;
}
.main-content .main__slide-home .main__slide-item .container .row .main__slide-item-wraps .main__slide-item-inner {
  padding: 25% 0 41%;
}
.main-content .main__slide-home .main__slide-item .container .row .main__slide-item-wraps .main__slide-item-inner .main__slide-item-title {
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 2.2rem;
}
.main-content .main__slide-home .main__slide-item .container .row .main__slide-item-wraps .main__slide-item-inner .main__slide-item-title p {
  color: #fd5420;
  width: 100%;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 22px 0;
  user-select: none;
}
.main-content .main__slide-home .main__slide-item .container .row .main__slide-item-wraps .main__slide-item-inner .main__slide-item-slogan {
  width: 100%;
  text-align: center;
  margin-bottom: 65px;
  color: #fff;
}
.main-content .main__slide-home .main__slide-item .container .row .main__slide-item-wraps .main__slide-item-inner .main__slide-item-slogan h1 {
  font-family: "Nunito", sans-serif;
  font-size: 7em;
  font-weight: 700;
}
.main-content .main__slide-home .main__slide-item .container .row .main__slide-item-wraps .main__slide-item-inner .main__slide-item-btn {
  width: 100%;
  text-align: center;
}
.main-content .main__slide-home .main-slider__list-card {
  display: flex;
  position: absolute;
  bottom: 20%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
}
@media (max-width: 1199px) {
  .main-content .main__slide-home .main-slider__list-card {
    position: unset;
  }
}
.main-content .main__slide-home .main-slider__list-card .main-slider__list-card-item {
  background-color: #171f32;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  max-width: 394px;
  height: 109px;
  transition: 0.3s;
  margin: 0 auto;
}
.main-content .main__slide-home .main-slider__list-card .main-slider__list-card-item:hover {
  cursor: pointer;
  transform: translateY(-10px);
}
.main-content .main__slide-home .main-slider__list-card .main-slider__list-card-item .card-item__wraps {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 25px 40px;
}
.main-content .main__slide-home .main-slider__list-card .main-slider__list-card-item .card-item__inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.main-content .main__slide-home .main-slider__list-card .main-slider__list-card-item .card-item__inner .card-item__inner-icon {
  width: 85px;
  height: 58px;
}
.main-content .main__slide-home .main-slider__list-card .main-slider__list-card-item .card-item__inner .card-item__inner-icon img {
  width: 50px;
  height: 50px;
  margin-right: 35px;
  margin-bottom: 8px;
}
.main-content .main__slide-home .main-slider__list-card .main-slider__list-card-item .card-item__inner .card-item__inner-content {
  color: #fff;
  font-family: "Nunito", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.main-content .main__slide-home .main-slider__list-card .main-slider__list-card-item .card-item__inner .card-item__inner-content p {
  margin: 0;
}
.main-content .main__slide-home .main-slider__list-card .main-slider__list-card-item .card-item__inner .card-item__inner-content .card-item__inner-content-title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.main-content .main__slide-home .main-slider__list-card .main-slider__list-card-item .card-item__inner .card-item__inner-content .card-item__inner-content-desc {
  font-weight: 1.6rem;
  font-weight: 700;
}

.header-menu__logo-inner {
  width: 100%;
  height: auto;
}
.header-menu__logo-inner img {
  width: 180px;
  height: 30px;
}

.header {
  width: 100%;
  height: auto;
  transition: 0.9s;
}
.header .logo-light {
  display: none;
}

.header.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  z-index: 9;
}
.header.active .logo-light {
  display: block;
}
.header.active .logo-dark {
  display: none;
}
.header.active .header-menu__inner-item a {
  color: #1f283a;
}
.header.active .header-menu__inner-item.active a {
  color: #fd5420;
}
.header.active .main-slide__extend-wraps .main-slide__extend-inner .main-slide__extend-item i {
  color: #1f283a;
}
.header.active .main-slide__small-inner i {
  color: #1f283a !important;
}

.header-menu {
  width: 100%;
  height: 120px;
}
.header-menu .container {
  width: 100%;
  height: 100%;
}
.header-menu .container .row {
  position: relative;
  width: 100%;
  height: 100%;
}
@media (max-width: 575px) {
  .header-menu .container .row .logo {
    flex: 1;
  }
}
@media (max-width: 575px) {
  .header-menu .container .row .extend-button {
    flex: 1;
  }
}
@media (max-width: 1199px) {
  .header-menu .container .row .header-menu__desktop {
    display: none;
  }
}
.header-menu .container .row .header-menu__small-display {
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.6s;
  transform: scaleY(0);
  transform-origin: 50% 0;
}
.header-menu .container .row .header-menu__small-display.active {
  transform: scaleY(1);
}
.header-menu .container .row .header-menu__small-display .header-menu__small-inner {
  font-family: "Rubik" sans-serif;
}
.header-menu .container .row .header-menu__small-display .header-menu__small-inner .accordion-item h2 .accordion-button {
  height: 70px;
  width: auto;
  padding-left: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: inherit;
  color: #1f283a;
  background-color: #fff;
  border: 0 0 1px 0 solid #1f283a;
}
.header-menu .container .row .header-menu__small-display .header-menu__small-inner .accordion-item h2 .accordion-button.active {
  color: #fd5420;
}
.header-menu .container .row .header-menu__small-display .header-menu__small-inner .accordion-item .accordion-body ul {
  padding: 15px 0 0;
  list-style: none;
  border-radius: 5px;
}
.header-menu .container .row .header-menu__small-display .header-menu__small-inner .accordion-item .accordion-body ul li {
  padding: 10px 18px 10px 30px;
  font-size: 1.4rem;
  font-family: inherit;
}
.header-menu .container .row .header-menu__small-display .header-menu__small-inner .accordion-item .accordion-body ul li a {
  text-decoration: none;
  color: #1f283a;
  font-weight: 500;
}

.header-menu__logo-wraps {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-menu__wraps {
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
  color: #fff;
}

.header-menu__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.header-menu__inner-item {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 45px;
}
.header-menu__inner-item a {
  font-size: 1.5rem;
  color: unset;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: 0.6s;
}
.header-menu__inner-item:hover a {
  color: #fd5420;
}
.header-menu__inner-item:hover .header-menu__drop-down {
  transform: scaleY(1);
}
.header-menu__inner-item:hover .fa-plus {
  display: none;
}
.header-menu__inner-item:hover .fa-minus {
  display: inline-block;
}

.header-menu__inner-item.active a {
  color: #fd5420;
}

.fas {
  transition: 0.3s;
}

.fa-minus {
  display: none;
}

.header-menu__drop-down {
  background-color: #fff;
  padding: 30px 0;
  list-style: none;
  min-width: 250px;
  height: auto;
  border-bottom: 5px solid #fd5420;
  position: absolute;
  top: 100%;
  transition: 0.6s;
  transform-origin: 0 0;
  transform: scaleY(0);
}
.header-menu__drop-down li {
  width: 100%;
  height: 46px;
}
.header-menu__drop-down a {
  min-width: 200px;
  min-height: 26px;
  padding: 10px 30px;
  font-weight: 400;
  color: #111111 !important;
  transition: 0.3s;
}
.header-menu__drop-down a:hover {
  color: #fd5420 !important;
}

.carousel-control {
  transition: 0.6s;
  position: absolute;
  top: 0;
}

.carousel-control-prev {
  left: -200%;
}

.carousel-control-next {
  right: -200%;
}

.main-slide:hover .carousel-control-next {
  right: 0;
}
.main-slide:hover .carousel-control-prev {
  left: 0;
}

.main-slide__extend-wraps {
  width: 100%;
  height: 100%;
}
.main-slide__extend-wraps .main-slide__extend-inner {
  width: 100%;
  height: 100%;
  display: flex;
}
@media (max-width: 1199px) {
  .main-slide__extend-wraps .main-slide__extend-inner {
    display: none;
  }
}
.main-slide__extend-wraps .main-slide__extend-small {
  display: none;
}
@media (max-width: 1199px) {
  .main-slide__extend-wraps .main-slide__extend-small {
    display: block;
    width: 100%;
    height: 100%;
  }
  .main-slide__extend-wraps .main-slide__extend-small .main-slide__small-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .main-slide__extend-wraps .main-slide__extend-small .main-slide__small-inner i {
    font-size: 1.8rem;
    color: #fff;
  }
}

.main-slide__extend-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-slide__extend-item .fa-bars {
  font-size: 30px;
}
.main-slide__extend-item i {
  color: #fff;
  font-size: 1.5rem;
  margin: auto;
  transition: 0.3s;
}
.main-slide__extend-item:hover .extend-btn {
  cursor: pointer;
  color: #fd5420;
}
.main-slide__extend-item:hover .main-slide__cart {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.main-slide__extend-container {
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
  display: flex;
  border-radius: 50%;
}

.main-slide__cart {
  position: absolute;
  top: 300%;
  right: 0;
  min-width: 270px;
  background-color: #fd5420;
  border-radius: 5px;
  padding: 20px 30px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.main-slide__cart-wraps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-slide__cart-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.main-slide__cart-item {
  width: 100%;
  padding-bottom: 20px;
}

.main-slide__cart-item-inner {
  display: flex;
  align-items: center;
  height: 100%;
}

.cart-item__container {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  height: 56px;
}
.cart-item__container img {
  width: 56px;
  height: 56px;
}

.cart-item__container--btn {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.cart-item__drop {
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  display: flex;
  border-radius: 50%;
  cursor: pointer;
}
.cart-item__drop i {
  margin: auto;
  font-size: 1.2rem;
  font-weight: 700;
}
.cart-item__drop:hover i {
  color: #fd5420;
}

.cart-item__content {
  font-family: "Rubik", sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.cart-item__content-name {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 700;
}
.cart-item__content-name:hover {
  color: #111111;
}

.cart-item__content-desc {
  margin: 0;
  font-size: 1.5rem;
}

.main-slide__cart-total {
  padding-bottom: 20px;
  width: 100%;
  height: auto;
}

.cart-total__content {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

.over-lay {
  position: fixed;
  left: 0;
  height: 100%;
  top: 0;
  width: 100%;
  background-color: rgba(6, 6, 6, 0.95);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.over-lay.active {
  visibility: visible;
  opacity: 1;
}
.over-lay.active .search-form__overlay-inner {
  animation: search-form 0.8s ease forwards;
  animation-delay: 0.4s;
}

.search-form__close {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}
.search-form__close i {
  font-size: 4rem;
  color: #fff;
  font-weight: 300;
  transition: 0.3s;
}
.search-form__close i:hover {
  opacity: 0.8;
  cursor: pointer;
}

.search-form__container {
  width: 100%;
  height: 100%;
  display: flex;
}

.search-form__overlay-inner {
  width: 500px;
  height: 60px;
  margin: auto;
  border-bottom: 1px solid #fff;
  position: relative;
  top: -200px;
  opacity: 0;
  transition: 0.3s;
}
.search-form__overlay-inner .form-group {
  width: 100%;
  height: 100%;
}
.search-form__overlay-inner .search-form__input {
  padding: 0 15px;
  background: transparent;
  border: none;
  font-size: 2rem;
  outline: none;
  color: #fff;
  font-weight: 600;
  height: 100%;
}

.white-header {
  width: 100%;
  height: auto;
}
.white-header .full-width-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 3;
}
.white-header .full-width-header .header {
  background-color: #fff;
  transition: 0.6s;
}
.white-header .full-width-header .header .logo-light {
  display: block;
}
.white-header .full-width-header .header .logo-dark {
  display: none;
}
.white-header .full-width-header .header .header-menu__inner-item a {
  color: #1f283a;
}
.white-header .full-width-header .header .header-menu__inner-item.active a {
  color: #fd5420;
}
.white-header .full-width-header .header .main-slide__extend-wraps .main-slide__extend-inner .main-slide__extend-item i {
  color: #1f283a;
}
.white-header .full-width-header .header .main-slide__small-inner i {
  color: #1f283a !important;
}

.full-width-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.sidebar__container {
  position: fixed;
  right: -100%;
  top: 0;
  height: 100%;
  width: 500px;
  background-color: #fff;
  z-index: 2;
  padding: 30px 50px;
  font-family: "Rubik", sans-serif;
  transition: 0.6s;
}
@media (max-width: 1199px) {
  .sidebar__container {
    display: none;
  }
}

.sidebar__container.active {
  right: 0;
}

.sidebar__container-wraps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__container-close {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
}

.sidebar-close__container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fd5420;
  display: flex;
}
.sidebar-close__container:hover {
  cursor: pointer;
}
.sidebar-close__container:hover i {
  transform: rotate(180deg);
}
.sidebar-close__container i {
  margin: auto;
  color: #fff;
  font-size: 2rem;
  transition: 0.3s;
}

.sidebar__container-logo {
  margin-top: 50px;
  padding-bottom: 30px;
}
.sidebar__container-logo img {
  max-height: 35px;
  max-width: 100%;
  height: auto;
}

.sidebar__container-text {
  width: 100%;
  height: auto;
}
.sidebar__container-text p {
  font-size: 1.5rem;
  color: #1f283a;
  text-align: center;
}

.sidebar__container-image {
  margin-top: 20px;
}

.sidebar__image-wraps {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.sidebar__image-item {
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin: 0 5px 10px;
}
.sidebar__image-item:hover img {
  transform: scale(1.1);
}

.sidebar__image-link img {
  transition: 0.3s;
}

.sidebar__container-map {
  margin-top: 25px;
  width: 100%;
  height: 212px;
}

.sidebar__container-social {
  width: 100%;
  height: auto;
  padding-top: 50px;
}

.sidebar-social__wraps {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidebar-social__item {
  padding-right: 20px;
  font-size: 2rem;
  font-weight: 600;
}
.sidebar-social__item i {
  transition: 0.3s;
}
.sidebar-social__item:hover i {
  color: #fd5420;
  cursor: pointer;
}

.main-content__body {
  padding-top: 90px;
  padding-bottom: 100px;
  font-family: "Rubik", sans-serif;
}
.main-content__body .body-content__wraps {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-content__body .body-content__wraps .body-content__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-content__body .body-content__wraps .body-content__title .title-content__sub {
  width: 100%;
  margin-bottom: 10px;
}
.main-content__body .body-content__wraps .body-content__title .title-content__sub p {
  font-size: 16px;
  color: #fd5420;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 28px;
}
.main-content__body .body-content__wraps .body-content__title .title-content__slogan {
  width: 100%;
  margin-bottom: 26px;
}
.main-content__body .body-content__wraps .body-content__title .title-content__slogan h2 {
  font-size: 36px;
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-weight: 800;
  color: #1f283a;
}
.main-content__body .body-content__wraps .body-content__img {
  width: 100%;
  height: auto;
  margin-bottom: 35px;
}
.main-content__body .body-content__wraps .body-content__img .body-content__img-item {
  max-width: 100%;
  transition: 0.3s;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.main-content__body .body-content__wraps .body-content__img .body-content__img-item:hover {
  transform: translateY(-10px);
}
.main-content__body .body-content__wraps .body-content__img .body-content__img-item .body-content__img-wraps {
  border-radius: 5px;
  overflow: hidden;
  width: 394px;
  height: auto;
  position: relative;
}
.main-content__body .body-content__wraps .body-content__img .body-content__img-item .body-content__img-wraps .body-content__img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #171f32;
  opacity: 0.5;
}
.main-content__body .body-content__wraps .body-content__img .body-content__img-item .body-content__img-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 30px 40px;
}
.main-content__body .body-content__wraps .body-content__img .body-content__img-item .body-content__img-text .img-text__container {
  display: flex;
  align-items: center;
}
.main-content__body .body-content__wraps .body-content__img .body-content__img-item .body-content__img-text .img-text__container .img-text__container-icon {
  width: 42px;
  height: auto;
  margin: 0 20px 8px 0;
}
.main-content__body .body-content__wraps .body-content__img .body-content__img-item .body-content__img-text .img-text__container .img-text__container-sub {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.main-content__body .body-content__wraps .body-content__img .body-content__img-item .body-content__img-text .img-text__container .img-text__container-sub h2 a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  font-family: "Nunito", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
}
.main-content__body .body-content__wraps .body-content__img .body-content__img-item .body-content__img-text .img-text__container .img-text__container-sub h2 a:hover {
  color: #fd5420;
}
.main-content__body .body-content__wraps .body-content__img .body-content__img-item .body-content__img-text .img-text__container .img-text__container-sub p {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  color: #fff;
}
.main-content__body .body-content__wraps .body-content__img .body-teacher__item {
  width: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  height: auto;
}
.main-content__body .body-content__wraps .body-content__img .body-teacher__item img {
  width: 100%;
  height: 100%;
}
.main-content__body .body-content__wraps .body-content__img .body-teacher__item .teacher-overlay {
  position: absolute;
  top: 10%;
  left: 10%;
  bottom: 0%;
  right: 10%;
  background-color: rgba(253, 84, 32, 0.8);
  border-radius: inherit;
  transform: scale(0);
  transform-origin: 50% 100%;
  transition: 0.3s;
  display: flex;
}
.main-content__body .body-content__wraps .body-content__img .body-teacher__item .teacher-overlay .teacher-over__content {
  width: auto;
  height: auto;
  margin: auto;
}
.main-content__body .body-content__wraps .body-content__img .body-teacher__item .teacher-overlay .teacher-over__content a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
  transition: 0.3s;
}
.main-content__body .body-content__wraps .body-content__img .body-teacher__item .teacher-overlay .teacher-over__content a:hover {
  color: #1f283a;
}
.main-content__body .body-content__wraps .body-content__img .body-teacher__item .teacher-overlay .teacher-over__content h4 {
  text-align: center;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.main-content__body .body-content__wraps .body-content__img .body-teacher__item .teacher-overlay .teacher-over__content ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}
.main-content__body .body-content__wraps .body-content__img .body-teacher__item .teacher-overlay .teacher-over__content ul li a i {
  font-size: 1.4rem;
}
.main-content__body .body-content__wraps .body-content__img .body-teacher__item:hover .teacher-info {
  left: 50%;
  height: 150px;
  width: 200px;
  bottom: 10%;
  transform: translateY(50%) translateX(-50%);
  border-radius: 50%;
  display: flex;
  opacity: 0;
}
.main-content__body .body-content__wraps .body-content__img .body-teacher__item:hover .teacher-info .teacher-content {
  padding: 0;
  margin: auto;
  bottom: 0;
}
.main-content__body .body-content__wraps .body-content__img .body-teacher__item:hover .teacher-overlay {
  transform: scale(1);
  bottom: 10%;
}
.main-content__body .body-content__wraps .body-content__img .body-teacher__item .teacher-info {
  position: absolute;
  bottom: -15%;
  left: 10px;
  right: 10px;
  height: 190px;
  background-color: #fff;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  transition: 0.6s;
}
.main-content__body .body-content__wraps .body-content__img .body-teacher__item .teacher-info .teacher-content {
  padding: 30px 0 0;
}
.main-content__body .body-content__wraps .body-content__img .body-teacher__item .teacher-info .teacher-content h3 {
  font-size: 2.2rem;
  color: #1f283a;
  font-weight: 700;
  text-align: center;
}
.main-content__body .body-content__wraps .body-content__img .body-teacher__item .teacher-info .teacher-content h4 {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  color: #505050;
  font-weight: 400;
}
.main-content__body .body-content__wraps .body-content__img .body__news-event {
  width: 100%;
  height: auto;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #c7e8f0;
  margin: 10px 0;
}
.main-content__body .body-content__wraps .body-content__img .body__news-event .news-event__img {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.main-content__body .body-content__wraps .body-content__img .body__news-event .news-event__img img {
  transition: 0.3s;
  width: 100%;
  height: 246px;
}
.main-content__body .body-content__wraps .body-content__img .body__news-event .news-event__img img:hover {
  transform: scale(1.1);
}
.main-content__body .body-content__wraps .body-content__img .body__news-event .news-event__content {
  width: 100%;
  height: 100%;
  padding: 33px 30px 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.main-content__body .body-content__wraps .body-content__img .body__news-event .news-event__content .news-event__auth {
  display: flex;
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
  justify-content: space-between;
  width: 100%;
}
.main-content__body .body-content__wraps .body-content__img .body__news-event .news-event__content .news-event__auth .news-event__auth-item i {
  margin: 0 10px 0 0;
}
.main-content__body .body-content__wraps .body-content__img .body__news-event .news-event__content .news-event__name h3 a {
  font-size: 2.4rem;
  font-weight: 700;
  color: #1f283a;
  text-decoration: none;
  transition: 0.3s;
}
.main-content__body .body-content__wraps .body-content__img .body__news-event .news-event__content .news-event__name h3 a:hover {
  color: #fd5420;
}
.main-content__body .body-content__wraps .body-content__img .body__news-event .news-event__content .news-event__btn {
  display: flex;
  align-items: center;
}
.main-content__body .body-content__wraps .body-content__img .body__news-event .news-event__content .news-event__btn a {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: #1f283a;
  transition: 0.3s;
}
.main-content__body .body-content__wraps .body-content__img .body__news-event .news-event__content .news-event__btn a:hover {
  color: #fd5420;
}
.main-content__body .body-content__wraps .body-content__img .body__news-event .news-event__content .news-event__btn i {
  font-size: 1.5rem;
}
.main-content__body .body-content__wraps .body-content__img .body__table-time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.main-content__body .body-content__wraps .body-content__img .body__table-time .table-time__item {
  display: flex;
}
.main-content__body .body-content__wraps .body-content__img .body__table-time .table-time__item .table-time__date {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  padding: 11px 0 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 0;
}
.main-content__body .body-content__wraps .body-content__img .body__table-time .table-time__item .table-time__date--20 {
  background-color: #dcf1fd;
}
.main-content__body .body-content__wraps .body-content__img .body__table-time .table-time__item .table-time__date .table-time__mounth span {
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  color: #505050;
}
.main-content__body .body-content__wraps .body-content__img .body__table-time .table-time__item .table-time__date .table-time__day span {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  color: #21a7d0;
  font-weight: 700;
  line-height: 60px;
}
.main-content__body .body-content__wraps .body-content__img .body__table-time .table-time__item .table-time__content .table-time__subject {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  color: #505050;
}
.main-content__body .body-content__wraps .body-content__img .body__table-time .table-time__item .table-time__content .table-time__name h3 a {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-decoration: none;
  color: #1f283a;
  transition: 0.3s;
}
.main-content__body .body-content__wraps .body-content__img .body__table-time .table-time__item .table-time__content .table-time__name h3 a:hover {
  color: #fd5420;
}
.main-content__body .body-content__wraps .body__course-list {
  width: 100%;
  height: auto;
  margin-bottom: 35px;
  font-family: "Nunito", sans-serif;
}
.main-content__body .body-content__wraps .body__course-list .body__course-item {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.main-content__body .body-content__wraps .body__course-list .body__course-item .body-course__wraps {
  width: 394px;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 30px #d1d0d0;
}
.main-content__body .body-content__wraps .body__course-list .body__course-item .body-course__wraps .body-course__img {
  width: 100%;
  height: 222px;
  overflow: hidden;
  position: relative;
}
.main-content__body .body-content__wraps .body__course-list .body__course-item .body-course__wraps .body-course__img img {
  transition: 0.3s;
}
.main-content__body .body-content__wraps .body__course-list .body__course-item .body-course__wraps .body-course__img .body-course__price {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 3px 15px;
  background-color: #fd5420;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 5px;
}
.main-content__body .body-content__wraps .body__course-list .body__course-item .body-course__wraps .body-course__img:hover img {
  transform: scale(1.1);
}
.main-content__body .body-content__wraps .body__course-list .body__course-item .body-course__wraps .body-course__content {
  width: 100%;
  height: auto;
  padding: 32px 35px 35px;
}
.main-content__body .body-content__wraps .body__course-list .body__course-item .body-course__wraps .body-course__content .course-content__rating {
  width: 100%;
  display: flex;
  align-items: center;
}
.main-content__body .body-content__wraps .body__course-list .body__course-item .body-course__wraps .body-course__content .course-content__rating ul {
  display: flex;
  list-style: none;
  padding: 0;
}
.main-content__body .body-content__wraps .body__course-list .body__course-item .body-course__wraps .body-course__content .course-content__rating ul li i {
  font-size: 1.2rem;
  margin: 1px;
  color: #fcb903;
}
.main-content__body .body-content__wraps .body__course-list .body__course-item .body-course__wraps .body-course__content .course-content__rating p {
  font-size: 1.5rem;
  color: #505050;
}
.main-content__body .body-content__wraps .body__course-list .body__course-item .body-course__wraps .body-course__content .cours-content__name {
  width: 100%;
}
.main-content__body .body-content__wraps .body__course-list .body__course-item .body-course__wraps .body-course__content .cours-content__name h3 {
  font-size: 2.2rem;
}
.main-content__body .body-content__wraps .body__course-list .body__course-item .body-course__wraps .body-course__content .cours-content__name h3 a {
  text-decoration: none;
  color: #1f283a;
  font-weight: 700;
  transition: 0.3s;
}
.main-content__body .body-content__wraps .body__course-list .body__course-item .body-course__wraps .body-course__content .cours-content__name h3 a:hover {
  text-decoration: none;
  color: #fd5420;
}
.main-content__body .body-content__wraps .body__course-list .body__course-item .body-course__wraps .body-course__content .cours-content__info ul {
  padding: 25px 0 0;
  margin: 25px 0 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-top: 1px solid #f4f0f0;
}
.main-content__body .body-content__wraps .body__course-list .body__course-item .body-course__wraps .body-course__content .cours-content__info ul li {
  margin: 0 8px 0 0;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
}
.main-content__body .body-content__wraps .body__course-list .body__course-item .body-course__wraps .body-course__content .cours-content__info ul li i {
  color: #fd5420;
}
.main-content__body .body-content__wraps .body__news-list .news-slick {
  width: 100%;
  height: auto;
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item {
  width: 394px !important;
  max-width: 100% !important;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 10px;
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item .body-news__inner {
  transition: 0.6s;
  width: 100%;
  margin: 0 auto;
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item .body-news__inner:hover {
  transform: translateY(-10px);
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item .body-news__inner .body-news__img {
  width: auto;
  height: auto;
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item .body-news__inner .body-news__content {
  max-width: 100%;
  box-sizing: border-box;
  padding: 40px 35px 16px;
  font-family: "Rubik", sans-serif;
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item .body-news__inner .body-news__content ul {
  list-style: none;
  display: flex;
  padding: 0;
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item .body-news__inner .body-news__content ul li {
  padding: 0 15px 0 0;
  margin: 0 15px 0 0;
  font-size: 1.5rem;
  color: #505050;
  display: flex;
  align-items: center;
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item .body-news__inner .body-news__content ul li i {
  padding: 0 10px 0 0;
  color: #fd5420;
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item .body-news__inner .body-news__content h3 {
  font-family: "Nunito" sans-serif !important;
  font-size: 2.4rem;
  margin-bottom: 14 px;
  line-height: 34px;
  font-weight: 500;
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item .body-news__inner .body-news__content h3 a {
  text-decoration: none;
  color: #1f283a;
  transition: 0.6s;
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item .body-news__inner .body-news__content h3 a:hover {
  color: #fd5420;
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item .body-news__inner .body-news__content .body-news__desc {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #f4f0f0;
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item .body-news__inner .body-news__content .body-news__desc p {
  color: #505050;
  padding-bottom: 20px;
  color: #505050;
  font-size: 1.5rem;
  margin: 0;
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item .body-news__inner .body-news__content .body-news__btn {
  width: 100%;
  height: auto;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item .body-news__inner .body-news__content .body-news__btn .body-news__list {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item .body-news__inner .body-news__content .body-news__btn .body-news__list i {
  padding: 0 10px 0 0;
  color: #fd5420;
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item .body-news__inner .body-news__content .body-news__btn .body-news__list a {
  text-decoration: none;
  color: #505050;
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item .body-news__inner .body-news__content .body-news__btn .body-news__list a i {
  color: #505050;
  font-weight: 600;
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item .body-news__inner .body-news__content .body-news__btn .body-news__list a:hover {
  color: #fd5420;
}
.main-content__body .body-content__wraps .body__news-list .news-slick .body-news__item .body-news__inner .body-news__content .body-news__btn .body-news__list a:hover i {
  color: #fd5420;
}
.main-content__body .body-content__wraps .body-content__btn {
  text-align: center;
}
.main-content__body .body-content__wraps .body-content__about {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.main-content__body .body-content__wraps .body-content__about .body-content__about-desc p {
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  padding-right: 100px;
  color: #505050;
}
.main-content__body .body-content__wraps .body-content__about .body-content__about-desc span {
  display: block;
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
  padding-right: 100px;
  color: #505050;
}
.main-content__body .banner-body {
  position: relative;
  padding: 130px 0;
  width: 100%;
  height: auto;
}
.main-content__body .banner-body::before {
  content: "";
  position: absolute;
  background: url(/assets/images/background/home1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  width: 50%;
  height: 100%;
  bottom: 0;
  z-index: -1;
}
@media (max-width: 991px) {
  .main-content__body .banner-body::before {
    width: 0;
  }
}
.main-content__body .banner-body::after {
  content: "";
  position: absolute;
  background: url(/assets/images/background/home2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
  width: 50%;
  height: 100%;
  bottom: 0;
  z-index: -1;
}
@media (max-width: 991px) {
  .main-content__body .banner-body::after {
    width: 100%;
  }
}
.main-content__body .banner-body .banner-body__content {
  width: 100%;
  height: auto;
  padding: 0 15px 0 70px;
}
.main-content__body .banner-body .banner-body__content .banner-body__content-wraps {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main-content__body .banner-body .banner-body__content .banner-body__content-wraps .banner-body__content-title {
  width: 100%;
  font-family: "Nunito", sans-serif;
}
.main-content__body .banner-body .banner-body__content .banner-body__content-wraps .banner-body__content-title h2 {
  font-size: 3.6rem;
  font-weight: 800;
  color: #fff;
  padding-bottom: 16px;
}
.main-content__body .banner-body .banner-body__content .banner-body__content-wraps .banner-body__content-desc {
  width: 100%;
  height: auto;
  font-family: "Rubik", sans-serif;
  margin-bottom: 40px;
}
.main-content__body .banner-body .banner-body__content .banner-body__content-wraps .banner-body__content-desc p {
  font-size: 1.6rem;
  color: #fff;
  padding: 0 100px 0 0;
}
.main-content__body .main-content__faq {
  width: 100%;
  height: 100%;
  padding: 60px 50px 70px;
  background-color: #f9f8f8;
}
.main-content__body .main-content__faq .main-faq__inner .main-faq__title {
  margin-bottom: 40px;
}
.main-content__body .main-content__faq .main-faq__inner .main-faq__title h2 {
  font-family: "Nunito", sans-serif;
  font-size: 3.6rem;
  line-height: 4.6rem;
  font-weight: 700;
}
.main-content__body .main-content__faq .main-faq__inner .accordion-item {
  font-family: "Rubik", sans-serif;
  margin-bottom: 25px;
  border: none;
  box-shadow: none;
}
.main-content__body .main-content__faq .main-faq__inner .accordion-item .accordion-header {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.main-content__body .main-content__faq .main-faq__inner .accordion-item .accordion-header .accordion-button {
  border-bottom: 1px solid;
  width: 100%;
  height: 100%;
  padding: 0 60px 0 0px;
  font-size: 1.6rem;
  background-color: #fff !important;
  box-shadow: unset;
  color: #1f283a;
  font-weight: 600;
  transition: 0.6s;
}
.main-content__body .main-content__faq .main-faq__inner .accordion-item .accordion-header .accordion-button .accordion-icon {
  padding: 20px;
}
.main-content__body .main-content__faq .main-faq__inner .accordion-item .accordion-header .accordion-button .accordion-icon i {
  color: #1f283a;
  font-size: 1.6rem;
  font-weight: 500;
  transition: 0.6s;
}
.main-content__body .main-content__faq .main-faq__inner .accordion-item .accordion-header .accordion-button .accordion-icon .fa-bell-slash {
  display: none;
  transition: 0.6s;
}
.main-content__body .main-content__faq .main-faq__inner .accordion-item .accordion-header .accordion-button .accordion-icon .fa-bell {
  transition: 0.6s;
}
.main-content__body .main-content__faq .main-faq__inner .accordion-item .accordion-header .accordion-button .accordion-icon .accordion-icon {
  padding: 20px;
}
.main-content__body .main-content__faq .main-faq__inner .accordion-item .accordion-header .accordion-button .accordion-icon .accordion-icon i {
  color: #1f283a;
  font-size: 1.6rem;
  font-weight: 500;
}
.main-content__body .main-content__faq .main-faq__inner .accordion-item .accordion-header .accordion-button.active {
  background-color: #fd5420 !important;
  color: #fff;
}
.main-content__body .main-content__faq .main-faq__inner .accordion-item .accordion-header .accordion-button.active .fa-bell-slash {
  display: block;
  color: #fff;
}
.main-content__body .main-content__faq .main-faq__inner .accordion-item .accordion-header .accordion-button.active .fa-bell {
  display: none;
}
.main-content__body .main-content__faq .main-faq__inner .accordion-item .accordion-header .accordion-button::after {
  background: unset;
}
.main-content__body .main-content__faq .main-faq__inner .accordion-item .accordion-body {
  padding: 15px 14px;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
}
.main-content__body .main-content__video {
  width: 100%;
  height: 100%;
  min-height: 615px;
  background: url("/assets/images/background/1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
.main-content__body .main-content__video .popup-video {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
  transition: 0.3s;
}
.main-content__body .main-content__video .popup-video:hover {
  transform: scale(1.1);
}
.main-content__body .main-content__video .popup-video:hover i {
  transform: scale(1.1);
}
.main-content__body .main-content__video .popup-video span {
  width: inherit;
  height: inherit;
  display: flex;
  cursor: pointer;
}
.main-content__body .main-content__video .popup-video span i {
  color: #fd5420;
  margin: auto;
  font-size: 3rem;
  padding-left: 5px;
}
.main-content__body .banner-slide__container {
  height: auto;
  position: unset;
}
.main-content__body .banner-slide__container .banner-slide {
  width: 100%;
  font-family: "Nunito", sans-serif;
  padding: 100px 0;
  height: 100%;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner {
  width: 100%;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__title {
  width: 100%;
  text-align: center;
  height: auto;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__title .banner-slide__sub-title p {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  color: #fd5420;
  font-weight: 500;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__title .banner-slide__slogan {
  font-family: "Nunito", sans-serif;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__title .banner-slide__slogan h2 {
  font-family: inherit;
  color: #fff;
  font-size: 3.6rem;
  font-weight: 800;
  margin: 0 0 26px 0;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick {
  padding: 50px 0;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .slick-dots li {
  width: auto;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .slick-dots li button {
  padding: 3px 0;
  margin: 0 6px;
  background-color: #fd5420;
  opacity: 1;
  height: 10px;
  width: 20px;
  border-radius: 20px;
  transition: 1.5s;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .slick-dots li button::before {
  content: "";
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .slick-dots .slick-active button {
  background-color: rgba(253, 84, 32, 0.3);
  width: 40px !important;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-slide__body {
  width: 100%;
  height: auto;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-slide__body .banner-slide__item {
  width: 600px;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-slide__body .banner-slide__item .banner-slide__item-inner {
  padding: 60px 15px;
  font-size: 1.5rem;
  font-family: "Rubik" sans-serif;
  background-color: rgba(23, 31, 50, 0.8);
  border-radius: 5px;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-slide__body .banner-slide__item .banner-slide__item-inner .banner-slider__item-icon {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: inherit;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-slide__body .banner-slide__item .banner-slide__item-inner .banner-slider__item-icon img {
  position: unset;
  width: 66px;
  height: 66px;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-slide__body .banner-slide__item .banner-slide__item-inner .banner-slider__item-content {
  padding: 80px 40px 30px;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-slide__body .banner-slide__item .banner-slide__item-inner .banner-slider__item-content p {
  font-size: 3.2rem;
  font-family: "Rubik", sans-serif;
  text-align: center;
  position: relative;
  color: #fff;
  font-size: 23px;
  line-height: 33px;
  font-weight: 500;
  font-style: italic;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-slide__body .banner-slide__item .banner-slide__item-author {
  width: 100%;
  padding-top: 45px;
  position: relative;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-slide__body .banner-slide__item .banner-slide__item-author .banner__author-img img {
  background-color: transparent;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%) translateY(30%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-slide__body .banner-slide__item .banner-slide__item-author .banner__author-main {
  width: 100%;
  height: auto;
  font-family: "Rubik", sans-serif;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-slide__body .banner-slide__item .banner-slide__item-author .banner__author-main .banner__author-name {
  width: 100%;
  text-align: center;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-slide__body .banner-slide__item .banner-slide__item-author .banner__author-main .banner__author-name a {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  line-height: 45px;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-slide__body .banner-slide__item .banner-slide__item-author .banner__author-main .banner__author-job {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-student__item {
  width: 100%;
  height: auto;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-student__item .banner-student__inner {
  padding: 40px 45px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-color: #f3f8f9;
  border-radius: 10px;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-student__item .banner-student__inner .banner-student__auth {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-student__item .banner-student__inner .banner-student__auth .student__auth-img {
  max-width: 84px;
  height: auto;
  margin-bottom: 22px;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-student__item .banner-student__inner .banner-student__auth .student__auth-name h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #1f283a;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-student__item .banner-student__inner .banner-student__auth .student__auth-desc h4 {
  font-size: 1.4rem;
  font-family: "Rubik", sans-serif;
  color: #505050;
  margin-bottom: 10px;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-student__item .banner-student__inner .banner-student__auth .student__auth-rate {
  margin-top: 10px;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-student__item .banner-student__inner .banner-student__auth .student__auth-rate ul {
  padding: 0;
  list-style: none;
  display: flex;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-student__item .banner-student__inner .banner-student__auth .student__auth-rate ul li {
  margin: 0 5px 0 0;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-student__item .banner-student__inner .banner-student__auth .student__auth-rate ul li i {
  font-size: 1.3rem;
  color: #fd5420;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-student__item .banner-student__inner .banner__student-comment {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.main-content__body .banner-slide__container .banner-slide .banner-slide__inner .banner-slide__slick .banner-student__item .banner-student__inner .banner__student-comment p {
  width: 100%;
  height: auto;
  margin: auto, 0;
  font-size: 1.7rem;
  font-family: "Rubik", sans-serif;
  color: #505050;
  font-style: italic;
}
.main-content__body .main-counter__container .main-counter__wraps .main-counter__about-intro .main-couter__about-title p {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  color: #fd5420;
}
.main-content__body .main-counter__container .main-counter__wraps .main-counter__about-intro .main-couter__about-title p a {
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.main-content__body .main-counter__container .main-counter__wraps .main-counter__about-intro .main-couter__about-title h2 {
  font-size: 3.6rem;
  color: #1f283a;
  font-weight: 700;
  margin: 0 0 21px 0;
}
.main-content__body .main-counter__container .main-counter__wraps .main-counter__about-intro .main-couter__about-desc p {
  color: #505050;
  font-size: 1.8rem;
}
.main-content__body .main-counter__container .main-counter__wraps .main__counter-card {
  width: 100%;
  height: auto;
  padding: 15px 0 0 83px;
}
@media (max-width: 991px) {
  .main-content__body .main-counter__container .main-counter__wraps .main__counter-card {
    padding: 0;
  }
}
.main-content__body .main-counter__container .main-counter__wraps .main__counter-card .main__counter-card-inner {
  width: 100%;
  height: auto;
  padding: 34px 15px;
  border-radius: 10px;
}
.main-content__body .main-counter__container .main-counter__wraps .main__counter-card .main__counter-card-inner--yellow {
  background-color: #fbf8cc;
}
.main-content__body .main-counter__container .main-counter__wraps .main__counter-card .main__counter-card-inner--green {
  background-color: #e9fbd5;
}
.main-content__body .main-counter__container .main-counter__wraps .main__counter-card .main__counter-card-inner--blue {
  background-color: #dcf1fd;
}
.main-content__body .main-counter__container .main-counter__wraps .main__counter-card .main__counter-card-inner .main__counter-card-img {
  display: flex;
  justify-content: center;
  margin: 0 auto 23px;
}
.main-content__body .main-counter__container .main-counter__wraps .main__counter-card .main__counter-card-inner .main__couter-card-content {
  width: 100%;
  text-align: center;
}
.main-content__body .main-counter__container .main-counter__wraps .main__counter-card .main__counter-card-inner .main__couter-card-content h2 {
  font-size: 4.2rem;
  font-weight: 700;
}
.main-content__body .main-counter__container .main-counter__wraps .main__counter-card .main__counter-card-inner .main__couter-card-content h4 {
  color: #505050;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
}
.main-content__body .about-video__container {
  width: 100%;
  height: auto;
  position: relative;
}
.main-content__body .about-video__container .about-video__img {
  width: 100%;
  height: inherit;
}
.main-content__body .about-video__container .about-video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.main-content__body .about-video__container .about-video__play .about-video__icon {
  width: 70px;
  height: 70px;
  background-color: #fd5420;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.6s;
}
.main-content__body .about-video__container .about-video__play .about-video__icon:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 20px 4px #fd5420;
}
.main-content__body .about-video__container .about-video__play .about-video__icon i {
  font-size: 3rem;
  line-height: 70px;
  color: #fff;
}
.main-content__body .partition-bg-wrap {
  position: relative;
  width: 100%;
  height: auto;
}
.main-content__body .partition-bg-wrap::before {
  content: "";
  background: url("/assets/images/background/left-bg2.png");
  background-size: cover;
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  top: 0;
  bottom: 0;
}
.main-content__body .partition-bg-wrap .main-content__body-open-video {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.main-content__body .partition-bg-wrap .main-content__body-open-video .body-open-video__inner {
  padding: 0 15px 50px;
  display: flex;
  align-items: center;
}
.main-content__body .partition-bg-wrap .main-content__body-open-video .body-open-video__inner .body-open-video__icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid #fff;
  display: flex;
}
.main-content__body .partition-bg-wrap .main-content__body-open-video .body-open-video__inner .body-open-video__icon i {
  font-size: 3rem;
  margin: auto;
  color: #fff;
  transform: translateX(15%);
}
.main-content__body .partition-bg-wrap .main-content__body-open-video .body-open-video__inner .body-open-video__text {
  padding: 0 180px 0 0;
}
.main-content__body .partition-bg-wrap .main-content__body-open-video .body-open-video__inner .body-open-video__text h4 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 0 20px 0 20px;
}
.main-content__body .partition-bg-wrap .body-open-video-content {
  width: 100%;
  height: auto;
  padding: 134px 15px 150px 62px;
}
.main-content__body .partition-bg-wrap .body-open-video-content .body-open-video__wraps .body-open-video__text {
  margin-bottom: 40px;
}
.main-content__body .partition-bg-wrap .body-open-video-content .body-open-video__wraps .body-open-video__text h2 {
  font-size: 3.6rem;
  font-weight: 700;
  color: #1f283a;
  margin: 0 0 16px 0;
}
.main-content__body .partition-bg-wrap .body-open-video-content .body-open-video__wraps .body-open-video__text p {
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
}
.main-content__body .main-content__body-count {
  width: 100%;
  height: 248px;
  display: flex;
  border-radius: 5px;
}
.main-content__body .main-content__body-count--yellow {
  background-color: #f5f2c9;
}
.main-content__body .main-content__body-count--green {
  background-color: #eafbd7;
}
.main-content__body .main-content__body-count--blue {
  background-color: #def2fd;
}
.main-content__body .main-content__body-count .main-content__body-count-inner {
  width: auto;
  height: auto;
  margin: auto;
}
.main-content__body .main-content__body-count .main-content__body-count-inner .title {
  font-size: 4.5rem;
  margin: 0 0 15px 0;
  color: #1f283a;
}
.main-content__body .main-content__body-count .main-content__body-count-inner .title h2 {
  font-size: inherit;
  font-weight: 700;
  text-align: center;
}
.main-content__body .main-content__body-count .main-content__body-count-inner .desc {
  font-size: 2.2rem;
  color: #505050;
}
.main-content__body .main-content__body-count .main-content__body-count-inner .desc h4 {
  font-size: inherit;
  text-align: center;
  font-weight: 700;
}
.main-content__body .educavo__wraps {
  position: relative;
}
.main-content__body .educavo__wraps .educavo__list {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: auto;
  height: 100%;
}
.main-content__body .educavo__wraps .educavo__list .educavo__item {
  width: 230px;
  height: 136px;
  border-radius: 5px;
  background-color: #171f32;
  display: flex;
  transition: 0.3s;
  padding: 28px 20px 22px;
}
.main-content__body .educavo__wraps .educavo__list .educavo__item.active {
  background-color: #fd5420;
}
.main-content__body .educavo__wraps .educavo__list .educavo__item:hover {
  cursor: pointer;
  background-color: #fd5420;
}
.main-content__body .educavo__wraps .educavo__list .educavo__item .educavo__link {
  display: flex;
  margin: auto;
  width: auto;
  height: auto;
  text-decoration: none;
}
.main-content__body .educavo__wraps .educavo__list .educavo__item .educavo__link .educavo__link-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  color: #fff;
}
.main-content__body .educavo__wraps .educavo__list .educavo__item .educavo__link .educavo__link-inner i {
  color: inherit;
}
.main-content__body .educavo__wraps .educavo__list .educavo__item .educavo__link .educavo__link-inner p {
  font-size: 2rem;
}
.main-content__body .educavo__wraps .title h2 {
  font-size: 3.6rem;
  color: #1f283a;
  margin: 0 0 26px;
  font-weight: 700;
}
.main-content__body .educavo__wraps .desc p {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  color: #505050;
  font-weight: 400;
  margin: 0 0 25px 0;
}
.main-content__body .donation__item {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  width: 100%;
  max-width: 424px;
}
.main-content__body .donation__item .donation__img {
  margin: 0 0 22px 0;
  border-radius: 5px;
  overflow: hidden;
}
.main-content__body .donation__item .donation__content .title {
  font-size: 2.6rem;
}
.main-content__body .donation__item .donation__content .title h3 {
  font-size: inherit;
  font-weight: 700;
  color: #1f283a;
}
.main-content__body .donation__item .donation__content .desc p {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  color: #505050;
  margin: 0 0 38px 0;
}
.main-content__body .donation__card {
  display: flex;
  align-items: center;
  background: #f3f8f9;
  padding: 30px;
  margin: 0 0 50px;
}
.main-content__body .donation__card .img-part {
  min-width: 209px;
  float: left;
  margin-right: 58px;
}
.main-content__body .donation__card .img-part img {
  border-radius: 5px;
}
.main-content__body .donation__card .content-part {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
}
.main-content__body .donation__card .content-part .desc {
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  color: #1f283a;
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.main-content__body .donation__card .content-part .desc::before {
  content: '"';
  position: absolute;
  font-size: 5rem;
  color: #1f283a;
  top: -22px;
  left: -12px;
}
.main-content__body .donation__card .content-part .desc::after {
  content: '"';
  position: absolute;
  font-size: 5rem;
  color: #1f283a;
  bottom: -30px;
  right: 290px;
}
.main-content__body .donation__card .content-part .info h5 {
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  color: #1f283a;
  font-weight: 600;
}
.main-content__body .donation__card .content-part .info .designation {
  font-size: 1.5rem;
  color: #505050;
}
.main-content__body .content-part .desc {
  font-weight: 600;
  line-height: 30px;
  font-family: "Nunito", sans-serif;
  color: #1f283a;
  display: inline;
  position: relative;
}
.main-content__body .logo__slide .logo__slide-item img {
  margin: 0 30px;
  height: 35px;
}
.main-content__body .grid-course__container .grid-course__sort {
  width: 100%;
  height: auto;
  padding: 15px 30px;
  border: 1px solid #eeeeee;
}
.main-content__body .grid-course__container .grid-course__sort .grid-course__sort-inner i {
  font-size: 2rem;
  padding-right: 10px;
  cursor: pointer;
}
.main-content__body .grid-course__container .grid-course__sort .grid-course__sort-inner i.active {
  color: #fd5420;
}
.main-content__body .grid-course__container .grid-course__sort .grid-course__sort-inner .grid-course__sort-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-content__body .grid-course__container .grid-course__sort .grid-course__sort-inner .grid-course__sort-btn .course__btn {
  display: flex;
  align-items: center;
}
.main-content__body .grid-course__container .grid-course__sort .grid-course__sort-inner .grid-course__sort-btn .course__btn p {
  margin: 0;
  font-size: 1.5rem;
  color: #505050;
}
.main-content__body .grid-course__container .courses-item {
  transition: 0.6s;
}
.main-content__body .grid-course__container .courses-item.wraps .grid-course__inner {
  flex-wrap: wrap;
}
.main-content__body .grid-course__container .courses-item .grid-course__item {
  width: 100%;
  height: auto;
  padding: 30px;
  border: 1px solid #dfe9eb;
  border-radius: 5px;
}
.main-content__body .grid-course__container .courses-item .grid-course__item .grid-course__inner {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: no-wrap;
}
.main-content__body .grid-course__container .courses-item .grid-course__item .grid-course__inner .grid-course__img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.main-content__body .grid-course__container .courses-item .grid-course__item .grid-course__inner .grid-course__img img {
  max-width: 311px;
  width: 100%;
  border-radius: 5px;
}
.main-content__body .grid-course__container .courses-item .grid-course__item .grid-course__inner .grid-course__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-content__body .grid-course__container .courses-item .grid-course__item .grid-course__inner .grid-course__content .grid-course__price {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}
.main-content__body .grid-course__container .courses-item .grid-course__item .grid-course__inner .grid-course__content .grid-course__price .grid-course__cost {
  padding: 3px 20px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  background-color: #fd5420;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
}
.main-content__body .grid-course__container .courses-item .grid-course__item .grid-course__inner .grid-course__content .grid-course__price .grid-course__type p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  color: #505050;
}
.main-content__body .grid-course__container .courses-item .grid-course__item .grid-course__inner .grid-course__content .grid-course__name {
  margin-bottom: 30px;
}
.main-content__body .grid-course__container .courses-item .grid-course__item .grid-course__inner .grid-course__content .grid-course__name h3 a {
  text-decoration: none;
  color: #1f283a;
  font-size: 2.4rem;
  font-weight: 700;
  transition: 0.3s;
}
.main-content__body .grid-course__container .courses-item .grid-course__item .grid-course__inner .grid-course__content .grid-course__name h3 a:hover {
  color: #fd5420;
}
.main-content__body .grid-course__container .courses-item .grid-course__item .grid-course__inner .grid-course__content .grid-course__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content__body .grid-course__container .courses-item .grid-course__item .grid-course__inner .grid-course__content .grid-course__info .grid-course__studens {
  display: flex;
  align-items: baseline;
  font-size: 1.5rem;
}
.main-content__body .grid-course__container .courses-item .grid-course__item .grid-course__inner .grid-course__content .grid-course__info .grid-course__studens p {
  margin: 0 20px 0 10px;
}
.main-content__body .grid-course__container .courses-item .grid-course__item .grid-course__inner .grid-course__content .grid-course__info .grid-course__studens .grid-course__rate i {
  font-size: 1.2rem;
  color: #fcb903;
}
.main-content__body .grid-course__container .courses-item .grid-course__item .grid-course__inner .grid-course__content .grid-course__info .grid-course__btn {
  padding: 10px 13px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  transition: 0.3s;
}
.main-content__body .grid-course__container .courses-item .grid-course__item .grid-course__inner .grid-course__content .grid-course__info .grid-course__btn:hover {
  background-color: #fd5420;
  cursor: pointer;
}
.main-content__body .grid-course__container .courses-item .grid-course__item .grid-course__inner .grid-course__content .grid-course__info .grid-course__btn:hover i {
  color: #fff;
}
.main-content__body .grid-course__container .courses-item .grid-course__item .grid-course__inner .grid-course__content .grid-course__info .grid-course__btn a {
  width: 46px;
  height: 40px;
}
.main-content__body .grid-course__container .courses-item .grid-course__item .grid-course__inner .grid-course__content .grid-course__info .grid-course__btn a i {
  font-size: 1.8rem;
  font-family: 600;
  color: #1f283a;
}
.main-content__body .grid-course__container .grid-course__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.main-content__body .grid-course__container .grid-course__sidebar .grid-course__sidebar-item {
  padding: 40px 30px;
  margin: 0 0 50px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.07);
}
.main-content__body .grid-course__container .grid-course__sidebar .grid-course__sidebar-item .title h2 {
  padding-bottom: 12px;
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 600;
}
.main-content__body .grid-course__container .grid-course__sidebar .grid-course__sidebar-item .content {
  margin-top: 26px;
}
.main-content__body .grid-course__container .grid-course__sidebar .grid-course__sidebar-item .content .form-group .form-group__inner {
  width: 100%;
  height: auto;
  padding: 12px 17px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  display: flex;
}
.main-content__body .grid-course__container .grid-course__sidebar .grid-course__sidebar-item .content .form-group .form-group__inner input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1.5rem;
}
.main-content__body .grid-course__container .grid-course__sidebar .grid-course__sidebar-item .content .form-group .form-group__inner button {
  background: none;
  border: none;
  outline: none;
}
.main-content__body .grid-course__container .grid-course__sidebar .grid-course__sidebar-item .content .form-group .form-group__inner button i {
  font-size: 1.5rem;
  transition: 0.3s;
}
.main-content__body .grid-course__container .grid-course__sidebar .grid-course__sidebar-item .content .form-group .form-group__inner button i:hover {
  color: #fd5420;
}
.main-content__body .grid-course__container .grid-course__sidebar .grid-course__sidebar-item .content .single-filter {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #f0f5fb;
}

.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.modal-video .modal-video__inner {
  margin: auto;
  width: auto;
  height: auto;
}
.modal-video .modal-video__inner span {
  display: block;
  text-align: right;
}
.modal-video .modal-video__inner span button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: unset;
}
.modal-video .modal-video__inner span button:hover i {
  color: rgba(153, 153, 153, 0.7);
}
.modal-video .modal-video__inner span button i {
  font-size: 1.8rem;
  color: #fff;
}

.modal-video.active {
  opacity: 1;
  visibility: visible;
}

.subscribe-from__container {
  width: 100%;
  font-family: "Rubik" sans-serif;
  font-size: 1.5rem;
  margin: 100px 0 -90px;
  background-color: #151515;
}
.subscribe-from__container .subscribe-form__inner {
  background-color: #171f32;
  padding: 60px 70px;
  position: relative;
  top: -50%;
}
.subscribe-from__container .subscribe-form__inner .subscribe-form__content {
  display: flex;
  align-items: center;
  width: 100%;
}
.subscribe-from__container .subscribe-form__inner .subscribe-form__content img {
  width: 50px;
  height: 50px;
  margin: 0 20px 0 0;
}
.subscribe-from__container .subscribe-form__inner .subscribe-form__content h2 {
  font-family: "Nunito", sans-serif;
  font-size: 3.6rem;
  color: #fff;
  font-weight: 700;
}
.subscribe-from__container .subscribe-form__inner .subscribe-form__content .subscribe-form__group {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.subscribe-from__container .subscribe-form__inner .subscribe-form__content .subscribe-form__group input {
  border-radius: 0;
  height: 100%;
  padding: 17px 150px 17px 30px;
  background-color: #fff;
  font-size: 1.6rem;
  max-height: 100%;
  border-top: none;
}
.subscribe-from__container .subscribe-form__inner .subscribe-form__content .subscribe-form__group button {
  border: none;
  font-size: 15px;
  font-family: "Rubik" sans-serif;
  max-height: 100%;
}

footer .footer__container {
  width: 100%;
  height: auto;
  background-color: #151515;
}
footer .footer__container .footer__container-wraps .footer__container-inner {
  display: flex;
  padding: 100px 0 93px 0;
  flex-wrap: wrap;
  border-bottom: 1px solid #505050;
}
footer .footer__container .footer__container-wraps .footer__container-inner .footer__logo {
  width: 100%;
  margin: 0 0 30px;
}
footer .footer__container .footer__container-wraps .footer__container-inner .footer__logo img {
  width: 190px;
  height: 31px;
}
footer .footer__container .footer__container-wraps .footer__container-inner .footer__logo h3 {
  color: #fff;
  font-family: "Nunito" sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
}
footer .footer__container .footer__container-wraps .footer__container-inner .footer__logo span {
  display: block;
  width: 40px;
  height: 2px;
  background-color: #fd5420;
}
footer .footer__container .footer__container-wraps .footer__container-inner .footer__content {
  width: 100%;
  height: auto;
  font-family: "Rubik" sans-serif;
}
footer .footer__container .footer__container-wraps .footer__container-inner .footer__content ul {
  padding: 0;
  list-style: none;
}
footer .footer__container .footer__container-wraps .footer__container-inner .footer__content ul li {
  display: flex;
  align-items: flex-start;
  margin: 0 0 16px 0;
}
footer .footer__container .footer__container-wraps .footer__container-inner .footer__content ul li a {
  color: #fff;
  transition: 0.3s;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}
footer .footer__container .footer__container-wraps .footer__container-inner .footer__content ul li a:hover {
  color: #fd5420;
  cursor: pointer;
}
footer .footer__container .footer__container-wraps .footer__container-inner .footer__content ul li .footer__content-blog {
  display: flex;
  align-items: center;
}
footer .footer__container .footer__container-wraps .footer__container-inner .footer__content ul li .footer__content-blog img {
  width: 77px;
  height: 77px;
  border-radius: 10px;
  margin: 0 15px 0 0;
}
footer .footer__container .footer__container-wraps .footer__container-inner .footer__content ul li .footer__content-blog .footer__blog-info {
  display: flex;
  flex-direction: column;
}
footer .footer__container .footer__container-wraps .footer__container-inner .footer__content ul li .footer__content-blog .footer__blog-info a {
  line-height: 2.2rem;
  font-size: 1.4rem;
}
footer .footer__container .footer__container-wraps .footer__container-inner .footer__content ul li .footer__content-blog .footer__blog-info span {
  font-size: 1.3rem;
  color: #fff;
}
footer .footer__container .footer__container-wraps .footer__container-inner .footer__content ul li .footer__content-blog .footer__blog-info span i {
  font-size: 1.4rem;
}
footer .footer__container .footer__container-wraps .footer__container-inner .footer__content ul i {
  color: #fd5420;
  font-size: 2rem;
  margin: 0 10px 0 0;
}
footer .footer__container .footer__container-wraps .footer__container-inner .footer__content ul .footer__content-dot {
  display: flex;
  align-items: center;
}
footer .footer__container .footer__container-wraps .footer__container-inner .footer__content ul .footer__content-dot i {
  font-size: 6px;
}
footer .footer__container .footer__container-wraps .footer__container-inner .footer__content p {
  width: 100%;
  font-weight: 600;
  padding: 0 60px 0 0;
  margin: 0;
  font-size: 1.5rem;
  color: #fff;
}
footer .footer__container .footer__container-auth {
  padding: 40px 0;
  font-family: "Rubik" sans-serif;
}
footer .footer__container .footer__container-auth .auth__wraps {
  display: flex;
  justify-content: space-between;
}
footer .footer__container .footer__container-auth .auth__wraps .copy-right p {
  font-weight: 1.5rem;
  color: #fff;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}
footer .footer__container .footer__container-auth .auth__wraps ul {
  display: flex;
}
footer .footer__container .footer__container-auth .auth__wraps ul li {
  display: flex;
  align-items: center;
  padding: 0 19px 0 20px;
}
footer .footer__container .footer__container-auth .auth__wraps ul li a {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 500;
}
footer .footer__container .footer__container-auth .auth__wraps ul li a:hover {
  color: #fd5420;
}
footer .footer__container .footer__container-auth .auth__wraps ul li span {
  width: 6px;
  height: 6px;
  background-color: #fd5420;
  border-radius: 50%;
  margin: 0 15px 0 0;
}

.breadcrumbs-container {
  position: relative;
}
.breadcrumbs-container .breadcrumbs-img img {
  width: 100%;
  height: auto;
}
.breadcrumbs-container .breadcrumbs-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.breadcrumbs-container .breadcrumbs-text h1 {
  font-size: 4.8rem;
  font-weight: 700;
  color: #fff;
  margin: 0 0 20px 0;
}
.breadcrumbs-container .breadcrumbs-text .page-course {
  color: #fd5420 !important;
}
.breadcrumbs-container .breadcrumbs-text ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.breadcrumbs-container .breadcrumbs-text ul.page-course li {
  color: #1f283a;
}
.breadcrumbs-container .breadcrumbs-text ul.page-course li a {
  color: #1f283a;
}
.breadcrumbs-container .breadcrumbs-text ul.page-course li a::after {
  color: #1f283a;
}
.breadcrumbs-container .breadcrumbs-text ul li {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
}
.breadcrumbs-container .breadcrumbs-text ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.6s;
  padding: 0 30px 0 0;
  position: relative;
}
.breadcrumbs-container .breadcrumbs-text ul li a:hover {
  color: #fd5420;
}
.breadcrumbs-container .breadcrumbs-text ul li a:hover::after {
  color: #fff;
}
.breadcrumbs-container .breadcrumbs-text ul li a::after {
  content: "//";
  position: absolute;
  right: 10%;
  color: #fff;
}

/*# sourceMappingURL=css.style.css.map */
